  <!-- need ng-submit -->
  <form name = "customerForm" class = 'customerInfo'> 
    <label> <strong> Firstname </strong> </label>
    <input type="text" placeholder="first name" name="firstName" ng-model="firstName" ng-class = "{ active: customerForm.firstName.$error.required}" required/>
    <div ng-messages="customerForm.firstName.$error" class ='errMessage'>
      <div ng-message="required"> This field is required</div>
    </div>

    <div class = "separator"></div>

    <label> <strong> Lastname </strong> </label>
    <input type="text" placeholder="last name" name="lastName" ng-model="lastName" ng-class = "{ active: customerForm.lastName.$error.required}" required/>
    <div ng-messages="customerForm.lastName.$error" class = 'errMessage'>
      <div ng-message="required"> This field is required</div>
    </div>

    <div class = "separator"></div>

    <label> <strong> Email </strong> </label>
    <input type="email" placeholder="name@example.com" name = "email"  ng-model="email" ng-class = "{ active: customerForm.email.$error.required || customerForm.email.$error.email}" required/>
    <div ng-messages="customerForm.email.$error" class = 'errMessage'>
      <div ng-message="required"> This field is required</div>
      <div ng-message="email">Your email address is invalid</div>
    </div>

    <div class = "separator"></div>

    <label> <strong> Phone Number </strong> </label>
    <input type="text" placeholder="phone number" name="phoneNumber" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" ng-model="phoneNumber" ng-class = "{ active: customerForm.phoneNumber.$error.required || customerForm.phoneNumber.$error.pattern}" required/>
    <div ng-messages="customerForm.phoneNumber.$error" class = 'errMessage'>
      <div ng-message="required">This field is required</div>
      <div ng-message="pattern">Must be a valid 10 digit phone number</div>
    </div>

    <button type="submit" class="btn btn-primary" style="float:right" ng-click="setInfo(firstName,lastName, email, phoneNumber); redirect(!customerForm.firstName.$error.required && !customerForm.lastName.$error.required && !customerForm.email.$error.required && !customerForm.email.$error.email && !customerForm.phoneNumber.$error.required && !customerForm.phoneNumber.$error.pattern)" ng-class = "{hover: hovering}" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">Next Step</button>
    <div ng-class="displayAddress">
    <div class="form-group">
        <label for="addressDisplay">Street</label>
        <input class="form-control" id="addressDisplay"  ng-model="customer.address.street"  disabled>
      </div>
      <div class="form-group">
        <label for="addressDisplay">Street</label>
        <input class="form-control" id="addressDisplay"  ng-model="customer.address.street"  disabled>
      </div>
      <div class="form-group">
        <label for="cityDisplay">City</label>
        <input class="form-control" id="cityDisplay"  ng-model="customer.address.city"  disabled>
      </div>
      <div class="form-group">
        <label for="stateDisplay">state</label>
        <input class="form-control" id="stateDisplay" ng-model="customer.address.state"  disabled>
      </div>
      <div class="form-group">
        <label for="zipcodeDisplay">Zip Code</label>
        <input class="form-control" id="zipcodeDisplay" ng-model="customer.address.zipcode"  disabled>
      </div>
    </div>
  </form>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-4">
              <form>
                <div class="form-group">
                  <label for="addressInput">Street</label>
                  <input class="form-control" id="addressInput" placeholder="Steet" ng-model="address.line1" ng-change="autocompleteAddress()">
                </div>
                <div class="form-group">
                  <label for="cityInput">City</label>
                  <input class="form-control" id="cityInput" placeholder="City" ng-model="address.city" ng-change="autocompleteAddress()">
                </div>
                <div class="form-group">
                  <label for="stateInput">state</label>
                  <input class="form-control" id="stateInput" placeholder="State" ng-model="address.state" ng-change="autocompleteAddress()">
                </div>
                <div class="form-group">
                  <label for="zipcodeInput">Zip Code</label>
                  <input class="form-control" id="zipcodeInput" placeholder="Zipcode" ng-model="address.zipcode" ng-change="autocompleteAddress()">
                </div>
              </form>
            </div>

            <div class="col-md-8">
              <table class="table table-hover table-condensed">
                <tbody>
                  <tr ng-repeat="suggestion in addressSuggestions">
                    <td>{{suggestion.text}}</td>
                    <td>
                    <button class="btn" ng-class="suggestion.button_class" ng-click="selectAddress(suggestion)">{{suggestion.button_text}}</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
